<title>Trip Created</title>
<%= "You have planned a trip to #{@country.name} in #{@continent.name} and plan to visit:" %>
<% destination_counter = @destinations.size  %>
<% @destinations.each do |destination|  %>
<% if destination.city_id != nil %>
    <% city = City.find_by_id( destination.city_id )  %>
    <% if destination_counter > 1  %>
        <%= "#{city.name}, " %>
        <% destination_counter -= 1  %>
      <% elsif destination_counter == 1 %>
        <%= "#{city.name}." %>
        <% destination_counter -= 1  %>
      <% end  %>
    <% end  %>
<% end  %>
