<title>Travel Tracker</title>

<main>
  <h1>
    Welcome to Travel Tracker this website helps you track what cities you have visited click <a href="/trips/new">Make a New Trip</a> to start!
    <br>
    <br>
    Once you have a trip Planned you can mange it under <a href="/trips">My Planned Trips</a>
    <br>
    <br>
    And once Complete it will show under <a href="/trips/done">Your Completed Trips</a>
  </h1>
</main>
