<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <section class="flex-container">
      <header class="flex-item header">Travel Tracker</header>
      <aside class="flex-side sidebar">
        <nav>
          <ul class="menu-list">
            <li class="menu-list">
              <a href="/">Home</a>
            </li>
            <li class="menu-list">
              <a href="/trips/new">Make a New Trip</a>
            </li>
            <li class="menu-list">
              <a href="/trips">My Planned Trips</a>
            </li>
            <li>
              <a href="/trips/done">Your Completed Trips</a>
            </li>
          </ul>
        </nav>
      </aside>
      <main class="flex-main main">
        <%= yield %>
      </main>
      <footer class="flex-item footer">Footer</footer>
    </section>

  </body>
</html>
