<form class = "" action = "/trips" method = "post">
  <label for = "country_select"> Pick a Country:</label>
  <select id = "country_select" name = "country_id">
    <% @countries.each do |country|  %>
      <option value = <%= country.id  %>> <%= country.name %> </option>
    <% end %>
  </select>
  <br>
    <label for="city_select"> Enter the Number of Cities you want to visit: </label>
    <input type="number" name= "city_number" id="city_select">
  <br>
  <input type="submit" value= "Save Country">

</form>
