<form class = "" action = "/trips" method = "post">
  <label for = "country_select"> Pick a Country:</label>
  <select id = "country_select" name = "country_id">
    <% @countries.each do |country|  %>
      <option value = <%= country.id  %>> <%= country.name %> </option>
    <% end %>
  </select>
  <br>
  <%# <% @cites.each do |city|  %>
    <label for="city_select"> Enter the Cities you want to visit:</label>
    <input type="text" name= "city_name" id="city_select">
    <% @cites.push( params["city_name"] )%>
  <%# <% end %>
  <br>
  <input type="submit" value= "Save Trip">

</form>
